### Experimenting with multiplying strings or lists with integers and see what happens. Having seen that ;create a variable which holds value
#### ‘xyzxyzxyzxyzxyzxyzxyzxyzxyzxyz’

In [17]:
l1 = ['x','y','z']
l1=''.join(l1*10)
print(l1)

xyzxyzxyzxyzxyzxyzxyzxyzxyzxyz

In [18]:
str = 'xyz'
str=str*10
print(str)

xyzxyzxyzxyzxyzxyzxyzxyzxyzxyz

### Using list comprehension ,list related functions or otherwise, create following list:

  #### [[1, 2, 3, 4, 5, 6, 7], [1, 4, 9, 16, 25, 36, 49], [1, 8, 27, 64, 125, 216,343]]

In [19]:
list1=[]

x=[1,2,3,4,5,6,7]
y=[i**2 for i in x]
z=[i**3 for i in x]

print([x]+[y]+[z])

[[1, 2, 3, 4, 5, 6, 7], [1, 4, 9, 16, 25, 36, 49], [1, 8, 27, 64, 125, 216, 343]]

In [20]:

def results(x,z):
    list1=[]
    for i in range(1,x+1):
        list1.append([ n**i for n in range(1,z+1)])
    return list1

results(3,7)

[[1, 2, 3, 4, 5, 6, 7],
 [1, 4, 9, 16, 25, 36, 49],
 [1, 8, 27, 64, 125, 216, 343]]

### Function which takes input 3 dictionaries and returns a new dictionary which has all key value pairs from those three dictionaries

In [21]:
#merging dictionaries:

d_1={'Australia':'Steve Smith','New Zealand':'Kane Willianson','India':'Virat Kohli'}
d_2={'England':'Joe Root','West Indies':'Chris Gayle','Country':'Cricket Player'}
d_3={1:'one',2:'two','float':'1.666667','string':"last"}

 
res = {**d_1, **d_2,**d_3} 
res

{'Australia': 'Steve Smith',
 'New Zealand': 'Kane Willianson',
 'India': 'Virat Kohli',
 'England': 'Joe Root',
 'West Indies': 'Chris Gayle',
 'Country': 'Cricket Player',
 1: 'one',
 2: 'two',
 'float': '1.666667',
 'string': 'last'}

### Consider this dictionary of addresses :

#### {“home” : [“Hyderabad”,“Lingampally”,“Ph:1234567890”],

#### “office”:[“Maharashtra”,“Mumbai”,“Ghatkopar”,“Ph : 5432167809”,“Pin :400043”],

#### “OOI” : [“Singapore”,“Ph : 09876345”]}

#### program to extract phone numbers for each location

In [22]:
addr = {'home': ['Hyderabad','Lingampally','Ph:1234567890'], \
'office':['Maharashtra','Mumbai','Ghatkopar','Ph : 5432167809','Pin :400043'],\
'OOI': ['Singapore','Ph : 09876345']} 
for vals in addr.values():
    for obj in vals:
         if 'Ph' in obj:
            print(obj)

Ph:1234567890
Ph : 5432167809
Ph : 09876345

### Reverse the string using slicing:

In [23]:
x='RAKSHITA'
x[::-1]

'ATIHSKAR'

### Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [24]:
my_num = range(1,51)

list2 = []

for num in my_num:
  if num % 3 == 0:
    list2.append(num)
print(list2)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

### Program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [25]:
for fizzbuzz in range(51):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("fizzbuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("buzz")
        continue
    print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz